@font-face {
    font-family: Conforta;
    src: url(Fontes/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lemon Fina ;
    src: url(Fontes/LEMONMILK-Light.otf);
}

@font-face {
    font-family: Creato;
    src: url(Fontes/CreatoDisplay-Regular.otf);
}

body {
    background-color: black;
}

header {
    display: flex;
    border-bottom: 2px solid #FF006A;
    justify-content: space-between;
    align-items: center;
}

.icones > a > img{
    width: 200px;
    height: auto;
    margin-right: 30px;
}

.logo > img {
   width: 170px;
   padding: 20px;
   margin-left: 30px;
    height: auto; 
}

.botoesnav {
    display: flex;
    font-size: 60px;
    gap: 100px;
    list-style: none;
}

.botoesnav > li > a {
    color: white;
    text-decoration: none;
    font-family: Conforta ;
    padding: 50px;
}

.botoesnav > li> a:hover{
    background-color:#FF006A;
    border-radius: 100px;
}






section.banner > div#Textopequenodobanner > h3 {
    position: absolute;
    top: 350px;
    width: 300px;
    text-align: center;
    color: #FF006A;
    margin: 0;
    font-family: Creato;
    letter-spacing: 5px;
}

section.banner > div#Textopequenodobanner > h3:first-child {
    left: 10vw;
    transform: rotate(8deg);
    font-size: clamp(1.6vw, 5vw, 1vw);
}

section.banner > div#Textopequenodobanner > h3:last-child {
    right: 5vw;
    transform: rotate(-8deg);
    font-size: clamp(1.3vw, 5vw, 1vw);
}

section.banner {
    position: relative; 
    display: flex;
    color: white;
    font-family: Conforta;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

section.banner > h2 {
    font-size: 135px;
    margin: 30px ;
}

section.banner > h3 {
    font-size: 55px;
    margin: 30px;
}

section > img#arqelaslogo {
    width: 50%;
    height: auto;
    padding-top: 80px;
}

section > img#Mulheres {
    width: 85%;
     height: auto;
     margin: 10px;

}
