@font-face {
    font-family: Conforta;
    src: url(Fontes/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lemon Fina ;
    src: url(Fontes/LEMONMILK-Light.otf);
}

@font-face {
    font-family: Creato;
    src: url(Fontes/CreatoDisplay-Regular.otf);
}

body {
    background-color: black;
}

header {
    display: flex;
    border-bottom: 2px solid #FF006A;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap
}

.icones > a > img{
    width: 4vw;
    height: auto;
   
}

.logo > img {
   width: 4vw;
    height: auto; 
}

.botoesnav {
    display: flex;
    font-size: 1.5vw;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.botoesnav > li > a {
    color: white;
    text-decoration: none;
    font-family: Conforta ;
    padding: 10px;

}

.botoesnav > li> a:hover{
    background-color:#FF006A;
    border-radius: 100px;
}










section.banner {
    display: flex;
    color: white;
    font-family: Conforta;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
   
}

section.banner > h2 {
    font-size: 3.3vw;
    margin: 10px ;
    font-family: Lemon fina;
}

section.banner > h3 {
    font-size: 1.3vw;
    color: #FF006A;
    margin: 1px;
}

section > img#arqelaslogo {
    width: 50%;
    height: auto;
    padding-top: 40px;
}

section > img#Mulheres {
    width: 80%;
     height: auto;
     margin: 20px 10px 10px 10px;

}

section.Mulheres {
    display: flex;
    color: #FF006A;
    justify-content: space-around;
    align-items: center;
    margin-left: 12%;
    margin-right: 10%;
    font-weight: bold;
    text-align: center;
}

section.Mulheres > div > h3 {
    color: whitesmoke;
    display: inline-block; 
    border-bottom: 2px solid #FF006A; 
    padding-bottom: 3px; 
    margin-bottom: 5px; 
    font-size: 0.9vw;
    margin-top: 0px;
    font-family: Conforta;
   
}

section.Mulheres > div > h2 {
    margin: 0px;
    font-size: 1.3vw;
    font-family: Lemon fina;

}

#Esquerda {
    position: absolute;
    top: 40%; 
    left: 1%; 
    transform: translateY(-50%); 
    width: 20vw; 
    height: auto;
}


#Direita {
    position: absolute;
    top: 35%; 
    right: 4%; 
    transform: translateY(-50%); 
    width: 18vw; 
    height: auto;
}